@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;
$blue: #555;
$grayLighter: #eee;


@mixin box_sizing { 
  -moz-box-sizing: boder-box;
  -webkit-box-sizing: boder-box;
  -box-sizing: boder-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}


/* universal */

html { 
  overflow-y: scroll;
  overflow-x: scroll;
}

body {
   font-family: "Century Gothic"; 
   padding-top: 3%;
   text-align: justify;
   padding-bottom: 0px;
   color: #5a5a5a;
   text: #FFFFFF; 
   background-color: #000000;
   ul {
   list-style-type: none;
   }
}

section { 
 overflow: auto; 
}

textarea { 
 resize: vertical;
}

.main-menu {
  padding-right: 3%;
  
}
.center { 
    text-align: vertical;
    h1 { 
      margin-bottom: 10px; 
    }
}

/* typography*/

h1, h2, h3, h4, h5, h6 { 
  line-height: 1; 
}

h1 {
  font-size:      3em;
  letter-spacing: -2px;
  margin-bottom:  30px;
  text-align:     center;
  font-weight:    normal;
  color:          $grayLight;
}

h2 {
  font-size:      1.7em;
  letter-spacing: -1px;
  margin-bottom:  30px;
  text-align:     center;
  font-weight:    normal;
  color:          $grayLight;
}

p {
  font-size:   1.1em;
  line-height: 1.7em;
}

/*----------Text Styles----------*/
.ws6 {
   font-size: 8px;
}
.ws7 {
   font-size: 9.3px;
}
.ws8 {
   font-size: 11px;
}
.ws9 {
   font-size: 12px;
   text-align: justify;
}
.ws10 {
   font-size: 13px;
}
.ws11 {
   font-size: 15px;
}
.ws12 {
   font-size: 16px;
}
.ws14 {
   font-size: 19px;
}
.ws16 {
   font-size: 21px;
}
.ws18 {
   font-size: 24px;
}
.ws20 {
   font-size: 27px;
}
.ws22 {
   font-size: 29px;
}
.ws24 {
   font-size: 32px;
}
.ws26 {
   font-size: 35px;
}
.ws28 {
   font-size: 37px;
}
.ws36 {
   font-size: 48px;
}
.ws48 {
   font-size: 64px;
}
.ws72 {
   font-size: 96px;
}
.wpmd {
   font-size: 13px;
   font-family: 'Arial';
   font-style: normal;
   font-weight: normal;
}
#down10 {
   padding-left:   60px;
   padding-bottom: 20px;
   margin-bottom:  10px;
}
.price_search {
   font-size:    12px;
   margin-right: 5px;
   margin-top:   -37px;
}
.price_submit {
   font-size:    12px;
   margin-left: 12px;
   margin-top:   -31px;
   &:hover {
      color: #ff0000;
   } 

}
.price_cancel {
   font-size:    12px;
   margin-left: -25px;
   margin-top:   -51px;
   &:hover {
      color: #ff0000;
   } 
}

.session_submit {
   &:hover {
      color: #ff0000;
   } 
}

.btn {
   color: #000000;
   &:hover {
   color: #ff0000;
   }
}
.search_block {
   border-bottom: 2px solid #696969;
   margin-left: -55px;
   width:       260px;
   height:      130px;
   overflow-y:  auto;
}
   hr {
   border: none;
   background: #ff0000;
   color: #ff0000;
   height: 2px;
   }
   #hr_line {
      border: none;
      background: #c0c0c0;
      height:     1px;
   }

/*----------Para Styles----------*/


/*header*/
header { 
    ul {
        list-style-type: none;
    }
}

#logo {
  float: left;
  margin-right: 5%;
  margin-top:   5%;
  font-size:    1.2em;
   width:   40%;
   height:  40%;

  &:hover {
    color: #000;
    text-decoration: none;    
  }
}
.g_image1 {
   width:   70px;
   height:  60px;
   margin-top: 15px;
   overflow: hidden; 
   &:hover {
      color: #ff00ff;
   }
}

#badge {
   margin-top: -10px;
   margin-left: 60px;
   padding-bottom: 20px;
}

.well {
   background-color: $grayLighter;
   margin-top: 10px;
}
.breadcrumb {
   margin-top: -15px;
   background-color: #000;
   color: #fff;
   background: #000;
}


/*footer*/

footer {
  margin-top:  0px;
  padding-top: 0px;
  padding-left: 40px;
  small {
    float: left; 
  }
  ul {
    float: left; 
    list-style-type: none;
    li {
      float: left; 
      margin-left: 10px;
    } 
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 2;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

 .stats {
   overflow: auto;
   a {
      float: left;
      padding: 0, 10px;
      border-left: 1px solid $grayLighter;
      color: $grayLighter;
      &:first-child {
         padding-left: 0;
         border: 0;
      }   
      &:hover {
         text-decoration: none;
         color: $blue;
      }
   }
   strong {
      display: block;   
  }
 } 
  .user_avatars {
      overflow: auto;
      margin-top: 10px;
      .gravatar {
         margin: 1px 1px;
      }
  }
 
/* forms */ 

input, textarea, select, .uneditable-input {
  border: 1px, solid #bbb;
  width:  100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input { 
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_dangers {
  @extend .form-group; 
  @extend .danger;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* microposts*/

.microposts { 
   list-style: none;
   margin: 10px 0 0 0;
   
   li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
   }
}

.content { 
   display: block;
}

.timestamp {
   color: $grayLight;
}

.gravatar {
   float: left;
   margin-right: 10px;
}

.aside {
   textarea {
      height: 100px;
      margin-bottom: 5px;
   }
}

 /* CUSTOMIZE THE CAROUSEL
    ------------------------ */

    /* Carousel base class */
    .carousel {
      margin-bottom: 0px;
    }

    .carousel .container {
      position: relative;
      background-color: $gray;
      color: $gray;
      z-index: 12;
    }


    .carousel .item {
      height: 100%;
    }
    .carousel img {
      top: 0;
      left: 0;
      min-width: 100%;
      height: 100%;
    }

    .carousel-caption h4
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }      

/* mens */
.thumbnails {

      background-color: #ffffff;
      color: #000000;
      box-sizing: border-box;
      &:hover {
         background-color: #ff00ff;
      }
}


.thumbnails img {
   vertical-align: middle;
   border: 0px none;
   box-sizing: border-box;
   border-collapse: collapse;
   border-spacing: 0px;
   &:hover {
   background-color: #ff00ff;
   color:      #000;
   }

}

div.background {
   width: 230px;
   height: 150px;
   border: 2px solid black;
}

div.transbox {
   width: 230px;
   height: 60px;
   margin: 85px 60px;
   background-color: #ffffff;
   border: 1px solid black;
   filter:alpha(opacity=60);
   opacity:0.6;
}

div.transbox p {
   margin: 30px 40px;
   font-weight: bold;
   color: #000000;
}
