<header>
  <nav class="navbar navbar-fixed-top navbar-inverse main-menu" role="navigation">
    <span class="navbar-header nav navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to " Реєстрація", "#", class: ["glyphicon glyphicon-user"] %></li>
        <li><%= link_to" Вхід", "#", class: ["glyphicon glyphicon-log-in"] %></li>
      </ul>
    </span>   
  </nav>
      <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-md-offset-2 col-lg-offset-2">
                <%= link_to image_tag("citylogo1.png", id: "logo"), root_path %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 col-xs-offset-2 col-lg-offset-1 col-md-offset-1 block_phone">  
                <%= image_tag("telefon-ico.png", class: "img_phone") %>
                <span class="ws19 colfff">(098) </span>
                <span class="ws21 colfff"> - 745-85-45 </span>
              </div>
     
      </div>
</header>

